* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#root > #header {
  width: 100vw;
  height: 10vh;
}
#root > #container {
  width: 100vw;
  height: 80vh;
}
#root > #footer {
  width: 100vw;
  height: 10vh;
}